body {
	background-color: #f3f3f3;
	align-items: center;
	padding-top: 26px;
	padding-bottom: 26px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
 

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
	align-items: center;
}

main{
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
}

ul li{
	padding: auto;
}

h1, h2, h3, li{
	font-size: 24px;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #606060;
}

h3,li{
	font-size: 20px;
}

li, section, header div body{
	background-color:#fff ;
	border: solid 2px #708090 ;
	margin-bottom: 26px;
}

header nav ul{
	display:flex;
}

/******CALCULATION for header items and nav
  960=  3(2PX + 12px+ content + 2px+)
		3(16px+ content)
		48px+ 3(cotent)
		912/3 = content 
		304=content


******/
header nav li{
	width: 400px;
	list-style: none;
	margin: 12px;
	
}

main section div {
	
	display:flex;
	margin:26px;
	border-style: solid;
}

.heading{
border-style:solid  ;
border-width: medium;
padding: 0px;
margin: 26px;
border-color:  #708090;
}


section{
	width: 886px;
	border-style: solid;
	margin: 26px;
}

.section-one-colums{
	flex-wrap: wrap;
	display: flex;
	width: 270px;
	background-color: #f8f8ff;
	border: 1px;
	
}


