body {
	background-color: #3e3e44;
	color: #3e3e44;
}

 /********************
 to use a google font, copy the css rule from the
 google font review column just like you copied the link to the font 

 *******************/
.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
	font-family: 'Vesper Libre', serif;
	font-family: 'Miriam Libre', sans-serif;
	font-family: 'Vesper Libre', serif;
	background-color: #f0efed ;
}

/**Typograph**/
	
h1{
	font-family: 'Vesper Libre', serif;
	font-size:96px ;
	letter-spacing: -1px;
}

h2{
	font-family: 'Vesper Libre', serif;
	font-size: 48px;
	color: #3d4245;
}

h3{
	font-size: 24px;
	color:#84696f;
	padding-bottom: 24px;
}

.byline{
	font-size: 30px;
}

.intro{
	font-size: 18px;
	margin-top: 48px;
	margin-bottom: 48px;
}

p{
	font-size: 16px;
	padding-bottom: 12px;
}


/********layout rules********/


main footer{
	letter-spacing: 96px;
}

section header img{
	margin-top: 24px;
	margin-bottom: 24px;

}

section img{
	margin-top: 24px;
	margin-bottom: 24px;
}

