body{
    background-color: white
}
.container{
    margin: 0 auto;
    width: 960;
    font-size:100%;
    line-height: 1.5;
    border: 5px  solid green;

}
body{
    border: 1 solid black;

}
header,main{
    height: 300px;
    width: 300px;
    background-color: red;
}